<%= link_to 'New Post', new_blog_post_path %>

<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, blog_post_path(post) %>
    <%= render partial: 'blog/shared/change_state_links', locals: {state: post.aasm_state, post: post} %>
    <%= link_to 'Edit', edit_blog_post_path(post) %>
    <%= link_to 'Delete', blog_post_path(post), method: :delete %>
  </div>
<% end %>

<%= paginate @posts %>
