  <%= link_to 'New Post', new_blog_post_path %>

  <% @posts.each do |post| %>
    <% present post do |post_presenter| %>
      <div>
        <%= post_presenter.title_link %>
        <%= post_presenter.change_state_links %>
        <%= post_presenter.edit_post_link %>
        <%= post_presenter.delete_post_link %>
      </div>
    <% end %>
  <% end %>

  <%= paginate @posts %>
