<div class="c-article">
  <div class="c-article__title">
    <%= @article.title %>
  </div>

  <div class="c-article__meta">
    <div class="c-article__author">
      Written by <%= @article.author.profile.username %>&nbsp;
    </div>

    <div class="c-article__date">
      on <%= @article.publish_date.strftime("%B %d, %Y") %>
    </div>
  </div>

  <% if @article.main_image.attached?  %>
    <%= image_tag @article.main_image, class: 'c-article__main-image' %>
  <% end %>

  <div class="c-article__content">
    <%= markdown(@article.body) %>
  </div>
</div>
