<div class="c-admin-profile-form__card">
  <%= simple_form_for([:blog_admin, @profile],
                        html: { class: "c-admin-profile-form__form" },
                        defaults: { wrapper_html: { class: 'c-admin-profile-form__input-wrapper'} }
                      ) do |f| %>
    <% if @profile.avatar.attached? %>
      <%= image_tag @profile.avatar.variant(resize: '200x200'), class: 'c-admin-profile-form__image' %>
      <%= f.input :delete_avatar, as: :boolean, label: 'Delete image' %>
    <% end %>

    <%= f.input :avatar,
                as: :file,
                label: 'Profile pic',
                input_html: { class: 'c-admin-profile-form__file-upload' },
                label_html: { class: 'c-admin-profile-form__label' } %>
    <%= f.input :first_name,
                input_html: { class: 'c-admin-profile-form__input' },
                label_html: { class: 'c-admin-profile-form__label' } %>
    <%= f.input :last_name,
                input_html: { class: 'c-admin-profile-form__input' },
                label_html: { class: 'c-admin-profile-form__label' } %>
    <%= f.input :username,
                input_html: { class: 'c-admin-profile-form__input' },
                label_html: { class: 'c-admin-profile-form__label' } %>
    <%= f.input :bio,
                wrapper_html: { class: 'c-admin-profile-form__body' },
                label_html: { class: 'c-admin-profile-form__label--editor' } %>

    <%= f.button :submit, class: 'c-admin-profile-form__button--submit' %>
  <% end %>
</div>

<script type="text/javascript">
  let editor = new Editor({
    element: document.getElementById('profile_bio')
  });
  editor.render();
</script>
