<h3><%= @profile.username %>'s Profile</h3>

<% if @profile.avatar.attached? %>
  <%= image_tag @profile.avatar.variant(resize: '200x200') %>
<% else %>
  <%=  image_tag 'no_image_available.svg', size: '200x200' %>
<% end %>

<ul>
  <li><strong>Name: </strong><%= @profile.first_name %> <%= @profile.last_name %></li>
  <li><strong>Bio: </strong><%= markdown @profile.bio %></li>
</ul>

<%= link_to 'Edit your profile', edit_accounts_profile_path(@profile) %><br>
<%= link_to 'Delete your profile', accounts_profile_path(@profile), method: :delete %>
