<div class="c-container">
  <div class="c-container__title"><%= @profile.username %></div>

  <% if @profile.avatar.attached? %>
    <%= image_tag @profile.avatar.variant(resize: '200x200') %>
  <% else %>
    <%=  image_tag 'no_image_available.svg', size: '200x200' %>
  <% end %>

  <div class="c-button__grid c-button__grid--half-row">
    <% if current_user.id == @profile.user_id %>
      <%= link_to 'Edit', edit_accounts_profile_path(@profile), class: 'c-button' %>
      <%= link_to 'Delete', accounts_profile_path(@profile), method: :delete, class: 'c-button c-button--danger' %>
    <% end %>
  </div>

  <div class="c-container__sub-heading c-container__sub-heading--bold c-container__sub-heading--italic">
    <%= @profile.first_name %> <%= @profile.last_name %> Bio:
  </div>

  <div class="c-container__content">
    <%= markdown @profile.bio %>
  </div>
</div>
