<div class="c-admin-dashboard">
  <div class="c-admin-dashboard__title">
    Furiously Curious
  </div>

  <%= link_to "New Post", new_blog_admin_post_path, class: 'c-admin-dashboard__button' %>


  <div class="c-admin-dashboard__card">
    <div class="c-admin-dashboard__subtitle">Posts</div>

    <div class="c-admin-dashboard__card-buttons">
      <%= link_to "Drafts", blog_admin_drafts_path, class: 'c-admin-dashboard__button'  %>

      <%= link_to "Published", blog_admin_published_posts_path, class: 'c-admin-dashboard__button'  %>

      <%= link_to "Hidden", blog_admin_hidden_posts_path, class: 'c-admin-dashboard__button' %>
    </div>
  </div>

    <div class="c-admin-dashboard__meta">
      <%= link_to "Tags", blog_admin_tags_path, class: 'c-admin-dashboard__button' %>
      <%= link_to "Series", blog_admin_categories_path, class: 'c-admin-dashboard__button' %>
      <%= link_to "Profiles", blog_admin_profiles_path, class: 'c-admin-dashboard__button' %>
    </div>
</div>