<h1>Admin Dashboard</h1>

<h3>Come on and do something productive!</h3>

<%= link_to "New Post", new_blog_admin_post_path %>
<br>
<%= link_to "Drafts", blog_admin_drafts_path  %>
<br>
<%= link_to "Published", blog_admin_published_posts_path  %>
<br>
<%= link_to "Hidden", blog_admin_hidden_posts_path %>
<br>
<%= link_to "Tags", blog_admin_tags_path %>
<br>
<%= link_to "Categories", blog_admin_categories_path %>