<%= link_to 'Edit', edit_post_path(@post) %>
<br>
<% if @post.main_image.attached? %>
  <%= image_tag @post.main_image %>
<% end %>

<h1><%= @post.title %></h1>

<% if @post.author.profile %>
  <h2>By: <%= @post.author.profile.try(:username) %></h2>
<% end %>

<h4>Tags</h4>
<ul>
  <% @post.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<h4>Categories</h4>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<div>
  <%= markdown @post.body %>
</div>
