  <%= link_to 'New Post', new_blog_admin_post_path, class: 'c-admin-posts__button' %>

  <% @posts.order('aasm_state').each do |post| %>
    <% present post do |post_presenter| %>
      <div class="c-admin-post-preview">
        <%= post_presenter.main_image 'c-admin-post-preview__main-image' %>

        <div class="c-admin-post-preview__info">
          <div class="c-admin-post-preview__state"><%= post_presenter.state.capitalize %></div>
          <%= post_presenter.title_link 'c-admin-post-preview__title' %>
          <div class="c-admin-post-preview__post-meta">
            <div>
              Series:
              <%= post_presenter.post_categories %>
            </div>
            <div>
              Tags:
              <%= post_presenter.post_tags %>
            </div>
          </div>
          <div class="c-admin-post-preview__date">Updated <%= post_presenter.last_update %></div>
        </div>

        <div class="c-admin-post-preview__summary">
          <%= markdown(post_presenter.post.summary) %>
        </div>

        <div class="c-admin-post-preview__editing-links">
          <%= post_presenter.edit_post_link 'c-admin-post-preview__link' %>
          <%= post_presenter.change_state_links 'c-admin-post-preview__link' %>
          <%= post_presenter.delete_post_link 'c-admin-post-preview__link' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= paginate @posts %>
