<div class="c-admin-post">
  <% present @post do |post_presenter| %>
    <div class="c-admin-post__title">
      <%= post_presenter.title %>
    </div>
    <div><em><%= post_presenter.state.capitalize %></em></div>
    <div class="c-admin-post__subheading">Written by <%= post_presenter.author_username %></div>

    <div class="c-admin-post__post-meta">
      <div>
        <div class="c-admin-post__heading">Tags:</div>
        <%= post_presenter.post_tags %>
      </div>

      <div>
        <div class="c-admin-post__heading">Categories:</div>
        <%= post_presenter.post_categories %>
      </div>
    </div>

    <div>
      <div class="c-admin-post__heading">Summary:</div>
      <div class="c-admin-post__content">
        <%= markdown(post_presenter.post.summary) %>
      </div>
    </div>

    <%= post_presenter.main_image 'c-admin-post__main-image' %>

    <div class="c-admin-post__content">
      <%= post_presenter.markdown_body %>
    </div>

    <div class="c-admin-post__links">
      <%= post_presenter.edit_post_link 'c-admin-post__link' %>
      <%= post_presenter.change_state_links 'c-admin-post__link' %>
    </div>
  <% end %>
</div>
