<nav class="c-navbar is-closed initial-load" data-controller="navbar" data-target="navbar.visibility">
  <div class="c-navbar__brand">

    <%= image_tag "brand_icon.png", class: "c-navbar__brand-icon" %>
    <div class="c-navbar__brand-name">
      Furiously Curious
    </div>
  </div>

  <div class="c-navbar__toggle" data-action="click->navbar#toggle">
    <div class="c-navbar__hamburger"></div>
  </div>

  <div class="c-navbar__buffer"></div>

  <div class="c-navbar__mobile-list-item">
    <%= link_to 'Admin', blog_admin_dashboard_path, class: "c-navbar__link" %>
  </div>

  <div class="c-navbar__mobile-list-item">
    <%= link_to 'Search', blog_admin_dashboard_path, class: "c-navbar__link" %>
  </div>

  <div class="c-navbar__mobile-list-item">
    <%= link_to 'Tags', blog_admin_dashboard_path, class: "c-navbar__link" %>
  </div>

  <div class="c-navbar__mobile-list-item">
    <%= link_to 'Categories', blog_admin_dashboard_path, class: "c-navbar__link" %>
  </div>

  <div class="c-navbar__mobile-list-item">
    <%= link_to 'About', blog_admin_dashboard_path, class: "c-navbar__link" %>
  </div>

  <div class="c-navbar__buffer"></div>
  <div class="c-navbar__buffer"></div>
  <div class="c-navbar__buffer"></div>
  <div class="c-navbar__buffer"></div>
</nav>